@font-face {
    font-family: "GrandSlang-Romanoman";
    src: url("/static/fonts/GrandSlang-Italic.otf") format("woff2");
}
*{
    font-family: "GrandSlang-Italic", sans-serif;
}
body {
    background-image: radial-gradient(#0e1256 1px, transparent 1px), radial-gradient(#0e1256 1px, transparent 1px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #c78961;
}