@font-face {
    font-family: "GrandSlang-Italic";
    src: url("/static/fonts/GrandSlang-Italic.otf") format("woff2");
}
body {
    background-image: radial-gradient(#0e1256 1px, transparent 1px), radial-gradient(#0e1256 1px, transparent 1px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #c78961;
    font-family: var(--body-font);
    color: var(--text-color);
  }

  .text{
    color: #fff;
    position: relative;
    left: 20px;
    top: 5px;
    font-family: "GrandSlang-Italic", sans-serif;
    font-style: italic;
  }

  .info{
    font-family: "GrandSlang-Italic", sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 18%;
    color: aliceblue;
  }