@font-face {
    font-family: "GrandSlang-Italic";
    src: url("/static/fonts/GrandSlang-Italic.otf") format("woff2");
  }
  @font-face {
    font-family: "GrandSlang-Italic";
    src: url("/static/fonts/GrandSlang-Roman.otf") format("woff2");
  }
*{
  background-image: radial-gradient(#0e1256 1px, transparent 1px), radial-gradient(#0e1256 1px, transparent 1px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  background-color: #c78961;
    font-family: "GrandSlang-Roman", sans-serif;
}
h1{
    margin: 25%;
    color: blue;
    position: relative;
    left: 20%;
}
