<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>explore</title>
    <link rel="stylesheet" href="/static/get.css">
</head>
<body>
    <section class="container">
    <div class="text">   <h1>Textovert</h1></div>
<div class="info">
            <p>We will try to fix every flaws in our website. Feel free to contact us and tell us the flaws you're facing during surfing this website!!</p>
            <p>All the major upcoming updates will be mentioned here before and after launching it!!</p>
</div>
<div class="theme-btn-container"></div>
</section>
<script src="/static/js/exp.js">
    </script>
</body>
</html>