<!DOCTYPE html>
    <head>
        
        <link rel="stylesheet" href="/static/style.css">
        <title>Textovert</title>
    </head>
<body>
    <div class="intro_part">
    <div class="bg">
    <div class="upper_head">
        <div class="t">
<h1>Textovert</h1></div>
<div class="menuBar">
  <div class="sign"><a href="/logout"><button class="bn632-hover bn25">Log Out</button></div></a>
    <div class="about"><a href="/about"><button class="bn632-hover bn25">About Us</button></div></a>
    <div class="ser"><a href="/services"><button class="bn632-hover bn25">Services</button></div></a>
    <div class="e"><a href="/explore"><button class="bn632-hover bn25">Explore</button></a></div>
  </div></div>
  <div class="theme-btn-container"></div>
  <div class="intro">
    <img src="/static/pexels-jonathan-meyer-752473.png">
  </div>
<p>"Welcome to a sanctuary designed exclusively for introverts, where silence speaks volumes and solitude is celebrated. Embrace the comfort of our tranquil space, specially crafted for those who find solace in quiet moments. Join us and discover a haven where introverts thrive undisturbed."
</p>
</div>
    <br>
    <div class="two"><h2>So here I'm welcoming you to join introverts revolution community where we’re empowering introverts and sensitive people to embrace their strengths</h2></div>
     <div class="pic"><img src="/static/pexels-photo-7149136.webp">
     </div> <div class="pic1">
        <img src="/static/pexels-photo-7149138.webp"></div>
    <div class="pic2">
    <img src="/static/pexels-photo-7149140.jpeg"></div>    
<h1 class="serv_head">Our</h1><h1 class="serv_head1">Services</h1>
<div class="service">
    <main class="main flow">
        <div class="main__ser_prs ser_prs">
          <div class="ser_prs__inner">
            <div class="ser_prs__ser_pr ser_pr">
              <h2 class="ser_pr__heading">Chat-o-vert</h2>
              <img class="ser_pr__img"><img src="/static/OIG.png">
              <ul role="list" class="ser_pr__bullets flow">
                <li>The only thing you wanted is to be heard by someone even your silence.<br>
                    So why don't we just talk with randoms and let them hear us as well we hear their thoughts to make them feel safe here.</li>
              </ul>
              <a href="/chat-o-vert" class="ser_pr__cta cta">Get Started</a>
            </div>
            <div class="ser_prs__ser_pr ser_pr">
              <h2 class="ser_pr__heading">Scratch-o-vert</h2>
              <img class="ser_pr__img"><img src="/static/OIG (1).png">
              <ul role="list" class="ser_pr__bullets flow">
                <li>The platform where you can share your deep thinking with others or can share your thoughts.<br>
                    Feel free to show your art of scratching quotes on paper that is hidden from this world.</li>
              </ul>
              <a href="/scratch-o-vert" class="ser_pr__cta cta">Get Started</a>
            </div>
            <div class="ser_prs__ser_pr ser_pr">
              <h2 class="ser_pr__heading">Scene-o-vert</h2>
              <img class="ser_pr__img"><img src="/static/OIG (1) (1).png">
              <ul role="list" class="ser_pr__bullets flow">
                <li>The place where all you wanted to be seen but have you ever thought about the sketches that is hidden from yourself?<br>
                    Let's share the creativity of your imagination and let us praise your work.></li>
              </ul>
              <a href="/scenevert" class="ser_pr__cta cta">Get Started</a>
            </div>
          </div>
          
          <div class="overlay ser_prs__inner"></div>
        </div>
      </main>
</div>
<footer class="Explore" action="#" method="post">
  <div class="expl"><h3>Sign in to explore our services</h3></div>
  <div class="Explore" id="form"> 
  <form id="form"> 
       <label for="uname" class="email">Enter your email</label><br>
       <input type="email" id="uname" value="xyz@gmail.com"><br>
       <label for="pass" class="pass">Enter your password</label><br>
       <input type="password" id="pass"><br><br>
       <input type="submit" class="sub" value="Submit">
   </form></div>
</div>
<div class="closing">
   <h6>Designed by Rituraj Singh<a href="#"></a> and Yash Jain<a href="#"></a></h6>
</div></footer>
<script src="/static/js/index.js">
</script>
</body>
</html>
